<mat-form-field class="example-full-width">
    <mat-label>Izberi fakulteto</mat-label>
    <input type="text"
           aria-label="Number"
           matInput
           [formControl]="myControl"
           [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <ng-container *ngIf="faculties">
          <mat-option   *ngFor="let faculty of filteredFaculties | async" [value]="faculty.name" (onSelectionChange)="chooseFaculty($event, faculty)">
              {{faculty.name}}
            </mat-option>
      </ng-container>
    </mat-autocomplete>
  </mat-form-field>

