<mat-form-field>
  <mat-label>Skupine</mat-label>
  <mat-select [formControl]="myControl" multiple>
    <mat-option *ngFor="let group of groups" [value]="group" (onSelectionChange)="changeSelectedGroups($event)">{{group.name}}</mat-option>
  </mat-select>
</mat-form-field>