<div class="box">
  <nav class="navbar navbar-light " [ngClass]="{'bg-dark': !this.theme, 'bg-light': this.theme  }" style="height:50px">
    <a href="#" class="logo" style="margin-bottom: 30px !important;" [ngStyle]="{'color': !this.theme ? 'white' : 'black' }">{{this.titleShown}}</a>
    <img src="../assets/logotype.png" *ngIf="this.image" class="image" width="45px" height="45px">
    <ul style="float:right;display:flex;margin-top:10px">

      <li><a href="#" routerLink="/" style="margin-left:50px;" [ngStyle]="{'color': !this.theme ? 'white' : 'black' }">Home</a></li>
      <li><a href="#" routerLink="/schedule" style="margin-left:50px;" [ngStyle]="{'color': !this.theme ? 'white' : 'black' }">Schedule</a></li>
      <app-navbar style="margin-left:50px;" [ngStyle]="{'color': !this.theme ? 'white' : 'black' }"></app-navbar>
      <li class="nav-item dropdown" style="margin-left:50px;padding-top:0;padding-left: 0 !important;height: 50%;" [ngStyle]="{'color': !this.theme ? 'white' : 'black' }">
        <a class="nav-link " style="padding-top:0;padding-left: 0 !important" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" [ngStyle]="{'color': !this.theme ? 'white' : 'black' }">
          <i id="wheel" class="tiny material-icons rotate" style="padding-top:0;padding-left: 0 !important" [ngStyle]="{'color': !this.theme ? 'white' : 'black' }">settings</i>
        </a>

        <div id="dropdown" class="dropdown-menu" style="width: 100%;" [ngStyle]="{'background': !this.theme ? '#343A40' : 'white','color': !this.theme ? 'white' : 'black'  }" aria-labelledby="navbarDropdown">

          <label class="switch">
            <input id="theme" type="checkbox" [(ngModel)]="theme" (change)="changeTheme()">
            <span class="slider round"></span>

          </label>
          <b style="padding-left:10px">Theme</b>
          <!--
          <div class="dropdown-divider"></div>
          <label class="switch">
            <input id="theme" style="height: 20px !important" type="checkbox" [(ngModel)]="image">
            <span class="slider round"></span>

          </label>
          <b style="padding-left:10px">Image</b>
          <div class="dropdown-divider"></div>
          <input required type="text" [(ngModel)]="title" class="form-control" placeholder="Title.." data-toggle="dropdown" (keydown.enter)="changeTitle()" aria-label="Title" aria-describedby="basic-addon1">
          <button type="button" (click)="changeTitle()" style="width: 159px !important; margin-top:4px" class="btn btn-success"><i class="medium material-icons">check_circle</i></button>
           -->
        </div>
      </li>
    </ul>
  </nav>
  <div style="border-style:solid;border-width: 0.5px; border-color: #c5c5c5;"></div>

  <p>
    <router-outlet></router-outlet> <!--THIS IS WHERE ROUTED COMPONENTS WILL BE DISPLAYED-->
  </p>

  <!--<div class="row footer">
    <p><b>footer</b> (fixed height)</p>
  </div>-->
</div>
