<ng-template #customEventTemplate 
let-weekEvent="weekEvent" 
let-locale="locale"
let-tooltipPlacement="tooltipPlacement"
let-eventClicked="eventClicked"
let-tooltipTemplate="tooltipTemplate"
let-tooltipAppendToBody="tooltipAppendToBody"
let-tooltipDisabled="tooltipDisabled"
let-tooltipDelay="tooltipDelay"
let-column="column"
let-daysInWeek="daysInWeek"
>
  <div
        class="cal-event"
        [style.backgroundColor]="weekEvent.event.color?.secondary"
        [style.borderColor]="weekEvent.event.color?.primary"
        [mwlCalendarTooltip]='weekEvent.event.title + " ("+weekEvent.event.meta.exec_type +") "+weekEvent.event.meta.place'
        [tooltipPlacement]="tooltipPlacement"
        [tooltipEvent]="weekEvent.event"
        [tooltipTemplate]="tooltipTemplate"
        [tooltipAppendToBody]="tooltipAppendToBody"
        [tooltipDelay]="tooltipDelay"
        (mwlClick)="eventClicked.emit({ sourceEvent: $event })"
        (mwlKeydownEnter)="eventClicked.emit({ sourceEvent: $event })"
        tabindex="0"
        role="application"
        [attr.aria-label]="
          { event: weekEvent.event, locale: locale }
            | calendarA11y: 'eventDescription'
        "
  >
  
        <mwl-calendar-event-title
          [event]="weekEvent.event"
          view="week">
        </mwl-calendar-event-title>
        ({{weekEvent.event.meta.exec_type}})
        <br/>
        {{weekEvent.event.meta.place}}
  </div>
      
</ng-template>







<mwl-demo-utils-calendar-header [(view)]="view" [(viewDate)]="viewDate">
</mwl-demo-utils-calendar-header>
<mat-sidenav-container id="mainContainer" style="position:relative" autosize>
  <mat-sidenav id="mainSidenav" mode="side" [(opened)]="opened" >
    <form>
      <autocomplete-izbira-fakultete (selectedFaculty)='getSelectedFaculty($event)'></autocomplete-izbira-fakultete>
      <autocomplete-izbira-programa (selectedProgramIDAndYears)='getSelectedProgramIDAndYears($event)' [facultyID]="facultyID"></autocomplete-izbira-programa>
      <izbira-letnika (selectedYear)='getSelectedYear($event)' [years]="years"></izbira-letnika>
      <autocomplete-izbira-podprograma (selectedBranch)='getSelectedBranch($event)'  [program]="program" [year]="year"></autocomplete-izbira-podprograma>
      <autocomplete-izbira-skupine (selectedGroups)="getSelectedGroups($event)" [groups]="groups"></autocomplete-izbira-skupine>
    </form>
  </mat-sidenav>
  <mat-sidenav-content id="mainSidenavContent" >
    <mat-sidenav-container id="secondaryContainer">
      <mat-sidenav id="secondarySidenav" opened mode="side">
        <button id="odpriIzbiro" (click)="opened=!opened" mat-button>
          <mat-icon>menu</mat-icon>
        </button>
      </mat-sidenav>
      <mat-sidenav-content id="secondarySidenavContent" style="padding-left: 20px;">
        <mwl-calendar-week-view
        [viewDate]="viewDate"
        [events]="events"
        (beforeViewRender)="beforeViewRender($event)"
        [excludeDays]="excludeDays"
        [eventTemplate]="customEventTemplate"
        [hourSegments]="3"
        [daysInWeek]="daysInWeek"
        [weekStartsOn]="1"
        [dayStartHour]="6"
      >
      </mwl-calendar-week-view>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </mat-sidenav-content>
</mat-sidenav-container>
