#mainContainer{
  height: 100%;
}

#mainSidenavContent, #mainSidenav {
  padding: 20px;
}

#mainSidenav{
  width: 25%;
}

#secondaryContainer{
  height: 100%;
}

#secondarySidenavContent, #secondarySidenav {
  padding: 0px;
}

#secondarySidenav{
  width: 6%;
}

#odpriIzbiro{
  margin-left: 0;
  height: 100%;
}

.mat-drawer-inner-containerLight {
  width: 100%;
  height: 100%;
  overflow: auto;
  background: beige !important;
  -webkit-overflow-scrolling: touch;
}

.mat-drawer-inner-containerDark {
  width: 100%;
  height: 100%;
  overflow: auto;
  background: black !important;
  -webkit-overflow-scrolling: touch;
}

.mat-input-elementWhite {
  caret-color: white;
}

.mat-input-elementBlack {
  caret-color: white;
}

.mat-select-panelwhite {
  font-size: inherit;
  line-height: 3em;
  height: 3em;
  background: black;
}

border {
  border-right: 0.5px solid white
}

font {
  font-family: Roboto, "Helvetica Neue", sans-serif !important;
  font-size: 14px !important;
  font-weight: 500 !important;
}



