<div class="wrapper fadeInDown">
  <div id="formContent">
    <h2 class="active"> Sign Up </h2>
    <form>
      <input type="text" placeholder="username">
      <input type="text" placeholder="email">
      <input type="password" placeholder="password">
      <input type="submit" value="Sign Up">
    </form>
  </div>
</div>

