<mat-form-field class="example-full-width">
    <mat-label>Izberi program</mat-label>
    <input type="text"
           aria-label="Number"
           matInput
           [formControl]="myControl"
           [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let program of filteredPrograms | async" [value]="program.name" (onSelectionChange)="chooseProgram($event,program.id)">
              {{program.name}}
            </mat-option>
    </mat-autocomplete>
  </mat-form-field>

