<div class="wrapper fadeInDown" style="height: 91vh !important;overflow-y: hidden;"
     [ngStyle]="{'background': this.theme=='dark' ? '#343A40' : 'white' }">
  <div id="formContent">
    <h2 class="active"> Log In </h2>
    <form>
      <input type="text" placeholder="email">
      <input type="password" placeholder="password">
      <input type="submit" value="Log In">
    </form>
    <div id="formFooter">
      <a class="underlineHover" href="#" routerLink="/sign-up">Don't have account? Sign up</a>
    </div>
  </div>
</div>

