<mat-form-field>
  <mat-label>Izberi letnik</mat-label>
  <mat-select>
      <mat-option *ngFor="let year of years" [value]="year" (onSelectionChange)="chooseYear($event,year)">
          {{year}}
        </mat-option>    
  </mat-select>
</mat-form-field>
