<mat-form-field class="example-full-width">
        <mat-label>Izberi podprogram</mat-label>
        <input type="text"
               aria-label="Number"
               matInput
               [formControl]="myControl"
               [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let branch of filteredBranches | async" [value]="branch.name" (onSelectionChange)="chooseBranch($event, branch)">
            {{branch.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    